@font-face {
  font-family: 'Manrope';
  src: url('./assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --text: #5f6368;
  --text-h: #0f1e30;

  --bg: #ffffff;
  --surface: #ffffff;

  --border: #aaa;
  --border-focus: #f4796c;

  --disabled-bg: #f3f4f6;
  --disabled-text: #a0a6ad;

  --accent: #f4796c;
  --accent-bg: #fff0ee;
  --accent-border: #f4796c;
  --accent-green: #dce9e8;

  --sans: 'Manrope', sans-serif;
  --heading: 'Manrope', sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  letter-spacing: -1.68px;
  margin: 48px 0 32px;
}

h2 {
  font-family: var(--heading);
  font-weight: 600;
  color: var(--text-h);
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

body {
  font-weight: 400;
}